html {
  margin-left: -8px;
}
body {
  width: 100%;

  position: relative;
   background-color: #1B2330;
  z-index: -1;
  overflow-x: hidden;
}
.bg-dark-blue-main {
  width: 100%;
  background-color: #202A3C;
}

.curve {
  background-color: #202A3C;
  z-index: -1;
}

.curve::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 28.8125rem;
  background: url(./assets/images/bg-curvy-mobile.svg) no-repeat bottom/100% 100%;
  z-index: -1;
  top: 47.8125rem;
}

@media screen and (max-width: 426px) {  

  .curve::before {
    top: 24rem;
  }
}